/* Color Scheme */
/* #082032 Dark Blue */
/* #F5F5ED white */
/* #FF4C29 Orange */
.body {
    background-image: linear-gradient(145deg, #082032, #2c394b);
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    height: 70vh;
    
    background-color: #d2d2d2;
    border-radius: 25px;
    display: flex;
}

.sign-in-half {
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    border-radius: 25px 0 0 25px;

    align-items: center;
}
.logo-half {
    background-size: cover;
    background-image: url(bg.jpg);
    width: 20rem;
    background-position: center;
    border-radius: 0 25px 25px 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    gap: 2rem;
}
input {
    padding: 8px 5px;
    border-radius: 3px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #082032;
    background: transparent;
}
input:focus {
    background-color: #F5F5ED;
    
    border-width: 2px;
    border-color: #FF4C29;
}
button {
    width: 50%;
    align-self: center;
    padding: 8px 5px;
    border-radius: 10px;

    color: #F5F5ED;
    background-color: #082032;
}
