/* Color Scheme */
/* #082032 Dark Blue */
/* #F5F5ED white */
/* #FF4C29 Orange */
.body {
    background-color: #082032;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    height: 70vh;
    
    background-color: #d2d2d2;

    border-radius: 25px;

    display: flex;
}


.sign-in-half {
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    align-items: center;
}   
form {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    gap: 10px;
}
input {
    padding: 8px 5px;
    border-radius: 3px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #082032;
    background: transparent;
}
input:focus {
    background-color: #F5F5ED;
    
    border-width: 2px;
    border-color: #FF4C29;
}
button {
    width: 50%;
    align-self: center;
    padding: 8px 5px;
    border-radius: 10px;

    color: #F5F5ED;
    background-color: #082032;
}

.logo-half {
    background: lightblue;
    width: 50%;
}
