/* Color Scheme */
/* #082032 Dark Blue */
/* #F5F5ED white */
/* #FF4C29 Orange */
.body {
    background-image: linear-gradient(145deg, #082032, #2c394b);
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    min-width: 30rem;
    height: 70vh;
    
    background-color: #d2d2d2;
    border-radius: 25px;
    display: flex;
    font-family: 'Kanit', sans-serif;
    box-shadow: 0 8px 20px 8px #FFF0C5;
}

.sign-in-half {
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    border-radius: 25px 0 0 25px;
    align-items: center;
}
.logo-half {
    background-size: cover;
    background-image: url(bg.jpg);
    background-position: center;
    width: 100vw;
    min-width: 10rem;
    border-radius: 0 20px 20px 0;
    color: #F5F5ED;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-half h1 {
    margin-bottom: -10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    gap: 2rem;
}
input {
    padding: 8px 5px;
    border-radius: 3px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #082032;
    background: transparent;
    font-size: 12px;
}
input:focus {
    background-color: #F5F5ED;
    transform: scale(1.05);
    transition: 0.4s;
    border-width: 2px;
    border-color: #082032;
}
button {
    width: 50%;
    align-self: center;
    padding: 8px 5px;
    border-radius: 10px;

    color: #F5F5ED;
    background-color: #082032;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}
